<h1>User: <%= @user.email %></h1>

<p>Account created: <%= current_user.created_at %></p>
<p>Account updated: <%= current_user.updated_at %></p>
<p>Account email address: <%= @user.email %></p>
<%= link_to 'Add item', new_user_item_path(@user), class: 'btn btn-default' %>
<h2>Tasks</h2>
<% @items.each do |item| %>
  <%= render item %>
<% end %>
